In [1]:
import pandas as pd 
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
df = pd.read_csv('BitcoinHeistData.csv')

In [3]:
df

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,1.000500e+08,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,1.000000e+08,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,2.000000e+08,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,7.120000e+07,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,2.000000e+08,princetonLocky
...,...,...,...,...,...,...,...,...,...,...
2916692,12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry,2018,330,0,0.111111,1,0,1,1.255809e+09,white
2916693,1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2,2018,330,0,1.000000,1,0,1,4.409699e+07,white
2916694,1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw,2018,330,2,12.000000,6,6,35,2.398267e+09,white
2916695,15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a,2018,330,0,0.500000,1,0,1,1.780427e+08,white
2916696,3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e,2018,330,144,0.073972,6800,0,2,1.123500e+08,white

In [11]:
# df.info()
df.isna().sum().sum()

0

No nan values found

In [12]:
#still for precaution
df.dropna()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,1.000500e+08,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,1.000000e+08,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,2.000000e+08,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,7.120000e+07,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,2.000000e+08,princetonLocky
...,...,...,...,...,...,...,...,...,...,...
2916692,12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry,2018,330,0,0.111111,1,0,1,1.255809e+09,white
2916693,1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2,2018,330,0,1.000000,1,0,1,4.409699e+07,white
2916694,1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw,2018,330,2,12.000000,6,6,35,2.398267e+09,white
2916695,15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a,2018,330,0,0.500000,1,0,1,1.780427e+08,white
2916696,3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e,2018,330,144,0.073972,6800,0,2,1.123500e+08,white

In [17]:
n = len(pd.unique(df['address']))
n

2631095

In [24]:
# df=df.drop(['address'],axis=1)
#dropped address column because two many unique values will only 
#contribute to computation complexity when the address feature is not significant
df

,year,day,length,weight,count,looped,neighbors,income,label
0,2017,11,18,0.008333,1,0,2,1.000500e+08,princetonCerber
1,2016,132,44,0.000244,1,0,1,1.000000e+08,princetonLocky
2,2016,246,0,1.000000,1,0,2,2.000000e+08,princetonCerber
3,2016,322,72,0.003906,1,0,2,7.120000e+07,princetonCerber
4,2016,238,144,0.072848,456,0,1,2.000000e+08,princetonLocky
...,...,...,...,...,...,...,...,...,...
2916692,2018,330,0,0.111111,1,0,1,1.255809e+09,white
2916693,2018,330,0,1.000000,1,0,1,4.409699e+07,white
2916694,2018,330,2,12.000000,6,6,35,2.398267e+09,white
2916695,2018,330,0,0.500000,1,0,1,1.780427e+08,white
2916696,2018,330,144,0.073972,6800,0,2,1.123500e+08,white

### Part 1

In [28]:
target=['label']
features=df.columns[:-1]
features

Index(['year', 'day', 'length', 'weight', 'count', 'looped', 'neighbors',
       'income'],
      dtype='object')

In [32]:
X=df[features]
print(X)
Y=df[target]
print(Y)

         year  day  length     weight  count  looped  neighbors        income
0        2017   11      18   0.008333      1       0          2  1.000500e+08
1        2016  132      44   0.000244      1       0          1  1.000000e+08
2        2016  246       0   1.000000      1       0          2  2.000000e+08
3        2016  322      72   0.003906      1       0          2  7.120000e+07
4        2016  238     144   0.072848    456       0          1  2.000000e+08
...       ...  ...     ...        ...    ...     ...        ...           ...
2916692  2018  330       0   0.111111      1       0          1  1.255809e+09
2916693  2018  330       0   1.000000      1       0          1  4.409699e+07
2916694  2018  330       2  12.000000      6       6         35  2.398267e+09
2916695  2018  330       0   0.500000      1       0          1  1.780427e+08
2916696  2018  330     144   0.073972   6800       0          2  1.123500e+08

[2916697 rows x 8 columns]
                   label
0        princetonCerber
1         princetonLocky
2        princetonCerber
3        princetonCerber
4         princetonLocky
...                  ...
2916692            white
2916693            white
2916694            white
2916695            white
2916696            white

[2916697 rows x 1 columns]

In [35]:
#encoding the target column 
label_encoder = preprocessing.LabelEncoder()
Y= label_encoder.fit_transform(df['label'])
Y

array([26, 27, 26, ..., 28, 28, 28], dtype=int64)

In [40]:
perm = np.random.permutation(X.shape[0])
n=len(df)
train_size = np.floor(0.70*n)
test_size = np.floor(0.15*n)
valid_size=np.floor(0.15*n)
print(train_size,test_size,valid_size)

2041687.0 437504.0 437504.0

In [ ]:
X_train = X[perm[:train_size]]
Y_train = Y[perm[:train_size]]

X_test = X[perm[train_size:train_size+test_size]]
Y_test = Y[perm[train_size:train_size+test_size]]

X_valid=X[perm[train_size+test_size:]]
Y_valid=Y[perm[train_size+test_size:]]